<footer class="container">
  
   <span>
    <img class="float-start mx-2" src="/assets/images/dreambit-icon-circle.png" width="50px">
    <a class="text-white" href="{{ '/pages/imprint' | url }}">Imprint · </a><a class=" text-white" href="{{ '/pages/privacy' | url }}">Privacy</a> <p class=" text-white">DreamBit s.r.o</p>
    
  </span>
</footer>

