---
meta:
  lang: en
  title: 11ty-plain-bootstrap5
  description: Template for static site generator Eleventy with Boostrap 5 and SCSS/JS compilation via laravel-mix.
layout: base
eleventyNavigation:
  key: Services
---

<div class="row">
  <div class="col-md mb-3">
    <div class="card h-100">
      <a href="/pages/contact" ><img src="/assets/images/card-1.png"class="card-img-top darkened-image" alt="..."></a>
      <div class="card-body d-flex flex-column">
        <h5 class="display-6 card-title">IT Consultancy</h5>
        <p class="card-text">Explore the possibilities of your current IT environment with a comprehensive IT Strategy. Explore the options for keeping your information secure and available with a bespoke Business Continuity Plan</p>
        <a href="/pages/contact"  class="mx-auto mt-auto btn btn-dark fs-4">explore</a>
      </div>
    </div>
  </div>
  <div class="col-md mb-3">
    <div class="card h-100">
      <a href="/pages/contact" ><img src="/assets/images/card-2.png"class="card-img-top darkened-image" alt="..."></a>
      <div class="card-body d-flex flex-column">
        <h5 class="display-6 card-title">Cloud Systems</h5>
        <p class="card-text">Do more in the Cloud. Office 365, Google Workspace and more. We can help you choose the right cloud platform as well as plan, implement and maintain it.</p>
        <a href="/pages/contact" class="mx-auto mt-auto btn btn-dark fs-4">more</a>
      </div>
    </div>
  </div>
  <div class="col-md mb-3">
    <div class="card h-100">
      <a href="/pages/contact" ><img src="/assets/images/card-3.png"class="card-img-top darkened-image" alt="..."></a>
      <div class="card-body d-flex flex-column">
        <h5 class="display-6 card-title">Knowledge</h5>
        <p class="card-text">Make information open and accessible. Use the right tools to get information to the right people at the right time. Knowledge graphs, MediaWiki, Docusaurus, SharePoint, Confluence and open-source.</p>
        <a href="/pages/contact" class="mx-auto mt-auto  btn btn-dark fs-4">open</a>
      </div>
    </div>
  </div>
  <div class="col-md mb-3">
    <div class="card h-100">
      <a href="/pages/contact" ><img src="/assets/images/card-4.png"class="card-img-top darkened-image" alt="..."></a>
      <div class="card-body d-flex flex-column">
        <h5 class="display-6 card-title">Documentation</h5>
        <p class="card-text">Create simple and easy to understand content. End user guidance, videos, webinars, technical and systems documentation, schema and process diagrams. </p>
        <a href="/pages/contact"  class=" mx-auto mt-auto btn btn-dark fs-4">content</a>
      </div>
    </div>
  </div>
</div>




<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
